{% extends 'base.html' %}

{% block content%}
<div role="main" class="main">

    <section id="home" class="section border-0 bg-transparent">
        <div class="container bg-secondary text-light">
            <div class="row min-vh-100 align-items-center">
                <div class="col-lg-7 pt-5 pt-lg-0">
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">
                        <h1 class="text-light font-weight-bold">Python Software  <em class="p-relative z-index-1 fst-normal">Engineer <span class="appear-animation" data-appear-animation="highlightScribble1"><svg class="highlight-scribble-1" viewBox="0 0 760 60" preserveAspectRatio="none"><path d="M19,49C75.19,30.63,152,21,317.26,17.27c55.43-.41,198.33-2.08,407.85,12.53" stroke="#0088cc" pathLength="1" stroke-width="14" fill="none"></path></svg></span></em> based in Nigeria</h1>
                    </div>
                    <div class="row">
                        <div class="col-xl-9 pe-xl-5">
                            <p class="text-5 line-height-6 font-weight-regular" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationName': 'typeWriter', 'animationSpeed': 10}">Hello, I am James Inalegwu, a Python Developer currently available for freelance or full-time opportunities."</p>
                        </div>
                    </div>

                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="2500">
                        <a href="demo-personal-portfolio-1.html#about" data-hash data-hash-offset="0" data-hash-offset-lg="0" class="btn btn-link-effect-1 text-4 mt-3 btn-link-underline-1 px-0 py-0 bg-transparent bg-color-before-light border-0 text-color-light font-weight-semi-bold text-decoration-none">Find Out More <img width="25" height="25" class="rotate-r-90" src="{{url_for('static', path='img/demos/personal-portfolio-1/svg/arrow.svg')}}" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-5 pt-5 pt-lg-0 text-lg-end">

                    <div class="p-relative">
                        <img src="{{url_for('static', path='img/demos/personal-portfolio-1/generic/avatar.jpeg')}}" class="img-fluid rounded-circle p-relative z-index-1 appear-animation" alt="" data-appear-animation="fadeIn" data-appear-animation-delay="200" />
                        <div class="appear-animation p-relative z-index-2" data-appear-animation="fadeIn" data-appear-animation-delay="1000">
                            <div class="p-absolute d-inline-block w-100 rotate-animation custom-curved-text-1">
                                <!-- Curved Text Generator: https://suncatcherstudio.com/curved-text-generator/ -->
                                <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path id="curvedText1" fill="none" stroke="none"
                                    d="M 32.550491,148.48008 A -108.15144,-108.15144 0 0 1 140.70194,40.328644 -108.15144,-108.15144 0 0 1 248.85338,148.48008 -108.15144,-108.15144 0 0 1 140.70194,256.63153 -108.15144,-108.15144 0 0 1 32.550491,148.48008 Z" />
                                    <text font-size="29" fill="#1c1c1c" letter-spacing="3" font-family="sans-serif" font-weight="bold">
                                    <textPath xlink:href="#curvedText1" side="left" startOffset="5">ART DIRECTOR AND DIGITAL DESIGNER  </textPath></text>
                                </svg>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="about" class="section border-0 bg-light">
        <div class="container">
            <div class="row min-vh-100 align-items-center">
                <div class="col">
                    <div class="row">
                        <div class="col-md-4 px-4">
                            <div class="p-relative">
                                <div class="p-relative z-index-1">
                                    <div class="p-absolute top-0 left-0 d-inline-block w-100 scroll-rotate custom-curved-text-2">
                                        <!-- Curved Text Generator: https://suncatcherstudio.com/curved-text-generator/ -->
                                        <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path id="curvedText2" fill="none" stroke="none"
                                            d="M 32.550491,148.48008 A -108.15144,-108.15144 0 0 1 140.70194,40.328644 -108.15144,-108.15144 0 0 1 248.85338,148.48008 -108.15144,-108.15144 0 0 1 140.70194,256.63153 -108.15144,-108.15144 0 0 1 32.550491,148.48008 Z" />
                                            <text font-size="30" fill="#FFFFFF" letter-spacing="5" font-family="sans-serif" font-weight="bold">
                                            <textPath xlink:href="#curvedText2" side="left" startOffset="5">AVAILABLE FOR FREELANCE JOB - </textPath></text>
                                        </svg>
                                    </div>
                                </div>
                                <img src="{{url_for('static', path='img/demos/personal-portfolio-1/generic/avatar.jpeg')}}" class="img-fluid rounded-circle" />
                            </div>
                        </div>
                        <div class="col-md-8 pt-5 pt-md-0">
                            <h3>About Me</h3>
                            <p class="custom-font-1 text-9 line-height-4 font-weight-semi-bold text-color-dark">Hello, I am James Inaz, a Python Developer currently available for freelance or full-time opportunities. I specialize in building efficient and scalable solutions.</p>
                        </div>
                    </div>
                    <div class="row mt-5 pt-4">
                        <div class="col-lg-5">
                            <h3 class="short mb-3">WEB PRESENCE</h3>
                            <p class="text-4 font-weight-medium line-height-7 text-color-dark pe-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit orem ipsum dolor sit.</p>

                            <ul class="list-unstyled custom-list-1 text-3-5">
                                <li>Frontend Development</li>
                                <li>Digital Design</li>
                                <li>UX Design</li>
                                <li>UI Design</li>
                                <li>Graphic Elements</li>
                            </ul>
                        </div>
                        <div class="col-lg-5 pt-5 pt-lg-0">
                            <h3 class="short mb-3">Visual identity</h3>
                            <p class="text-4 font-weight-medium line-height-7 text-color-dark pe-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit orem ipsum dolor sit.</p>

                            <ul class="list-unstyled custom-list-1 text-3-5">
                                <li>Frontend Development</li>
                                <li>Digital Design</li>
                                <li>UX Design</li>
                            </ul>
                        </div>
                        <div class="col-lg-2 pt-5 pt-lg-0 text-center text-lg-end">
                            <a href="demo-personal-portfolio-1.html#projects" data-hash data-hash-offset="0" data-hash-offset-lg="0" class="btn btn-link-effect-1 text-4 mt-3 btn-link-underline-1 px-0 py-0 bg-transparent border-0 text-color-dark font-weight-semi-bold text-decoration-none">View My Work <img width="25" height="25" class="rotate-r-90" src="{{url_for('static', path='img/demos/personal-portfolio-1/svg/arrow-dark.svg')}}" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="horizontal-scroller-wrapper" id="projects">
        <section class="horizontal-scroller bg-dark">
            <div class="horizontal-scroller-scroll">
                <div class="horizontal-scroller-images" id="horizontal-scroll">
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="{{url_for('static', path='img/demos/personal-portfolio-1/projects/project-1.jpg')}}" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 1</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="{{url_for('static', path='img/demos/personal-portfolio-1/projects/project-2.jpg')}}" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 2</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="{{url_for('static', path='img/demos/personal-portfolio-1/projects/project-3.jpg')}}" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 3</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="{{url_for('static', path='img/demos/personal-portfolio-1/projects/project-4.jpg')}}" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 4</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="{{url_for('static', path='img/demos/personal-portfolio-1/projects/project-5.jpg')}}" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 5</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-scroller-item col-12 col-lg-8">
                        <div class="p-relative">
                            <a href="demo-personal-portfolio-1-project-detail.html">
                                <div class="overlay overlay-show overlay-gradient-bottom-content">
                                    <img class="horizontal-scroller-image img-fluid border-radius-0" src="{{url_for('static', path='img/demos/personal-portfolio-1/projects/project-6.jpg')}}" alt="" />
                                    <div class="p-absolute bottom-0 left-0 p-5 w-100 d-none d-lg-block">
                                        <h4 class="custom-font-1 text-9 line-height-4 mb-0 font-weight-semi-bold text-color-light p-relative z-index-10">Project Name 6</h4>
                                        <p class="text-color-light text-4 p-relative z-index-10"><span class="opacity-6 d-inline-block pe-2">-2021</span> Frontend Development / Digital Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="circleSection" class="overflow-hidden custom-circle-section-1">
        <section class="section p-relative section-default border-0 p-0 m-0">
            <div class="container">
                <div class="row min-vh-100 justify-content-center align-items-center">
                    <div class="col col-lg-8 text-center">
                        <div class="p-relative z-index-1">
                            <p class="custom-font-1 text-12 line-height-4 font-weight-semi-bold text-color-light pb-2">Before, I worked as Creative Director helping brands like Porto, Okler, Envato, ThemeForest, CodeCanyon and much more...</p>
                            <a href="demo-personal-portfolio-1.html#extra" data-hash data-hash-offset="0" data-hash-offset-lg="0" class="btn btn-link-effect-1 text-4 mt-3 btn-link-underline-1 px-0 py-0 bg-transparent bg-color-before-light border-0 text-color-light font-weight-semi-bold text-decoration-none">Find Out More <img width="25" height="25" class="rotate-r-90" src="{{url_for('static', path='img/demos/personal-portfolio-1/svg/arrow.svg')}}" alt="" /></a>
                        </div>
                        <div class="bg-primary rounded-circle p-absolute" id="circleDot"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section id="extra" class="section border-0 bg-color-grey m-0">
        <div class="container">
            <div class="row min-vh-100 align-items-center">
                <div class="col">
                    <h3 class="mb-5">EDUCATION, EXPERIENCE & AWARDS</h3>

                    <div class="row mt-4 mb-3">
                        <div class="col-lg-3">
                            <span class="custom-date-1 text-color-dark font-weight-medium">2008 / 2010</span>
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <p class="custom-font-1 text-8 font-weight-semi-bold text-color-dark mb-3">Porto Design School</p>
                            <p class="text-4 font-weight-medium line-height-7 pe-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit orem ipsum dolor sit.</p>
                        </div>
                        <div class="col-lg-3">
                            <ul class="list-unstyled custom-list-1 text-3-5">
                                <li>Frontend Development</li>
                                <li>Digital Design</li>
                                <li>UX Design</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <span class="custom-date-1 text-color-dark font-weight-medium">2010 / 2012</span>
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <p class="custom-font-1 text-8 font-weight-semi-bold text-color-dark mb-3">University of Envato</p>
                            <p class="text-4 font-weight-medium line-height-7 pe-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit orem ipsum dolor sit.</p>
                        </div>
                        <div class="col-lg-3">
                            <ul class="list-unstyled custom-list-1 text-3-5">
                                <li>Digital Design</li>
                                <li>UX Design</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <span class="custom-date-1 text-color-dark font-weight-medium">2012 / 2014</span>
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <p class="custom-font-1 text-8 font-weight-semi-bold text-color-dark mb-3">The UX School</p>
                            <p class="text-4 font-weight-medium line-height-7 pe-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit orem ipsum dolor sit.</p>
                        </div>
                        <div class="col-lg-3">
                            <ul class="list-unstyled custom-list-1 text-3-5">
                                <li>Frontend Development</li>
                                <li>Digital Design</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <span class="custom-date-1 text-color-dark font-weight-medium">2014 / 2016</span>
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <p class="custom-font-1 text-8 font-weight-semi-bold text-color-dark mb-3">Porto University</p>
                            <p class="text-4 font-weight-medium line-height-7 pe-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit orem ipsum dolor sit.</p>
                        </div>
                        <div class="col-lg-3">
                            <ul class="list-unstyled custom-list-1 text-3-5">
                                <li>UX Design</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="section border-0 bg-dark m-0 spotlight-cursor-text">

        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
        <div class="shape shape-3"></div>

        <div class="content">
            <h2 class="title custom-font-1">Let's Talk</h2>
        </div>

        <div class="contact-info">
            <div class="container-fluid p-relative">
                <div class="row min-vh-100 align-items-center">
                    <div class="col text-color-dark text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <div class="overflow-hidden">
                                    <div class="appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="0">
                                        <a href="https://www.okler.net/cdn-cgi/l/email-protection#ff929abf9b90929e9691d19c9092" target="_blank" class="btn btn-link-effect-1 btn-link-underline-1 px-3 py-2 bg-transparent bg-color-before-dark text-4-5 border-0 text-color-dark text-4-5 font-weight-semi-bold text-decoration-none"><span class="__cf_email__" data-cfemail="f6bbb3b6b2b9bbb7bfb8d8b5b9bb">[email&#160;protected]</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="overflow-hidden">
                                    <div class="appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">
                                        <a href="http://www.instagram.com" target="_blank" class="btn btn-link-effect-1 btn-link-underline-1 px-3 py-2 bg-transparent bg-color-before-dark text-4-5 border-0 text-color-dark text-4-5 font-weight-semi-bold text-decoration-none">INSTAGRAM</a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="overflow-hidden">
                                    <div class="appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                        <a href="http://www.behance.com" target="_blank" class="btn btn-link-effect-1 btn-link-underline-1 px-3 py-2 bg-transparent bg-color-before-dark text-4-5 border-0 text-color-dark text-4-5 font-weight-semi-bold text-decoration-none">BEHANCE</a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="overflow-hidden">
                                    <div class="appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">
                                        <a href="http://www.linkedin.com" target="_blank" class="btn btn-link-effect-1 btn-link-underline-1 px-3 py-2 bg-transparent bg-color-before-dark text-4-5 border-0 text-color-dark text-4-5 font-weight-semi-bold text-decoration-none">LINKEDIN</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock content%}